<h3>Sign Up</h3>
<form action="/signup" method="POST">
  <input type="text" name="name" placeholder="Name:">
  <input type="password" name="password" placeholder="Password:">
  <select name="household[id]">
    <% Household.all.each do |household| %>
      <option value="<%= household.id %>"> <%= household.name %></option>
    <% end %>
  </select>
  <input type="text" name="household[name]" placeholder="Household:">
  <input type="submit" value="Sign Up">
</form>
