<h3>Login</h3>
<form action="/login" method="POST">
 <input type="email" name="email" placeholder="Email:">
 <input type="password" name="password" placeholder="Password:">

 <input type="submit" value="Log In" id="submit">
</form>

<br>

<p> Don't have an account? Signup <a href="/signup">here</a></p>