<h2>Log your chore</h2>

<form action="/chores" method="POST">
  <p>Chore: <input type="text" name="name"></p>
  <input class="button" type="submit" value="submit">
</form>

<br></br>

<form method="get" action="/chores">
  <input type="submit" value="Back to All Chores">
</form>

<br><br><br>

<form method="get" action="/logout">
  <input type="submit" value="Logout">
</form>
